<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;0,800;1,400;1,700;1,800&display=swap" rel="stylesheet">
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</head>
	<body>
		<header id="site-header">
			<div class="container">
				<a href="#" id="logo-link">
					<img src="{{ asset('build/images/logo_site.png') }}" alt="Upikajob">
				</a>
				<button id="menu-button">
					<svg xmlns="http://www.w3.org/2000/svg" color="#fff" class="ionicon" viewbox="0 0 512 512">
						<path fill="none" stroke="currentColor" stroke-linecap="round" stroke-miterlimit="10" stroke-width="48" d="M88 152h336M88 256h336M88 360h336"/>
					</svg>
				</button>
				<nav id="site-nav">
					<ul>
						<li><a href="">Accueil</a></li>
						<li><a href="">Nos services</a></li>
						<li><a href="">Qui sommes nous ?</a></li>
						<li><a href="">Info Pratiques</a></li>
						<li><a href="">Nos partenaires</a></li>
						<li><a class="nav-cta" href="">Dashboard</a></li>
					</ul>
				</nav>
			</div>
		</header>
		<main>
			{% block body %}{% endblock %}
		</main>
	</body>
</html>
